.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.7fr;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Utils"
        "Video";
    width: 100%;
    height: 100%;
}

.Utils {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "F1 F2 F3";
    grid-area: Utils;
    background-color: #004A7C;
    color: #FAFAFA;
    padding: 10px;
}

.F1 {
    grid-area: F1;
    text-align: center;
}

.F2 {
    grid-area: F2;
    text-align: center;
}

.F3 {
    grid-area: F3;
    text-align: center;
}

.Video {
    grid-area: Video;
    text-align: center;
}